body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.header__logo {
  font-size: 30px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}


.posts {
  margin-top: 20px;
}

.post {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;
}

.post h2 {
  margin: 0;
}

.post p {
  margin-top: 10px;
}

.create-post {
  margin-top: 20px;
}

.create-post form {
  display: flex;
  flex-direction: column;
}

.create-post .form-group {
  margin-bottom: 20px;
}

.create-post label {
  margin-bottom: 5px;
}

.create-post input,
.create-post textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.create-post button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}